

body{
	background: url('../images/bgmap.jpg');
  }
.container {
	background-color: #723d22;
	color: #e8cfa2;
}

 #cityName, #zipCode {
  color: #000;
  border: 3px solid;
  border-color: #82685c;
   background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
}

#submitCity {
	background-color: #82685c;
	margin: 5px;
	color:#e8cfa2;
}

#map {
	width:500px;
	height:400px;
	margin:10px;
}